.buycourse-container{
    background-color: black;
    padding-top: 4rem;
    display: flex;
    height: 100%;
    transition: padding-top 1s ease, width 1s ease;
}
.buycourse-menu{
   width: 100%;
}
.buycourse-nav{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer; 
    transition: width 0.5 all;
}
.hamburger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    margin-right:20px ;
}
.progress{
    margin-right: 100px;
}
.sidebar-content{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    transition: 2s all;
    opacity: 0;
}
.sidebar-content.active {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    opacity: 1;
  }

.sidebar-content .course-video-page{
    width: 500px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-content .course-video-link {
    width: 400px;
}
.sidebar-content .dropdown-btn{
    width: 400px;
}
.sidebar-content .dropdown-content{
    width: 400px;
}
.sidebar-content .dropdown{
    width: 400px;
}
.video-display{
    display: flex;
    /* justify-content: center; */
    margin: 40px;
    width: 90vw;
    height: 70vh;
    transition:  1s ease-in-out;
}
.video-display-active{
    display: flex;
    padding-top: 40px;
    margin: 20px;
    width: 60vw;
    transition:  1s ease;
}
.video-display-active .video video{
    width: 100%;
    transition: .5s ease;
}
.video{
    margin-left: 30px;
    background-color: black;
    
}
.video video{
    width: 90vw;
    height: 100%;
}
.name,
.progress{
    color:rgb(217,52,109);
}
.div{
    color: rgb(217,52,109);
}
.description-container{
    display: flex;
    /* transition: 3s ease-in;s */
    flex-direction: column;
    margin: 0px 30px 30px 30px;
}
.title{
    font-weight: 800;
    font-size: 35px;
    color: rgb(217,52,109);
    margin-bottom: 20px;
}
.description{
    font-size: 20px;
    font-weight: 600;
    color: rgb(217,52,109);
    margin-bottom: 50px;
}
.description .title{
    font-weight: 800;
    margin-bottom:10px ;
}
.description .des-content{
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
}
.comment-box{
    margin-top: 130px;
    /* margin-top: 10px;s */
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.comment-div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.comment-form{
    display: flex;
    justify-content: center;
    height: auto;
    width: 1000px;
    border: 1px solid rgb(217,52,109);
    
}
.comment-form form{
    margin: 40px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.comment-form form input{
    color: rgb(217,52,109);
    border: none;
    background-color: black;
    margin-bottom: 10px;
    height: 40px;
    width: 600px;
    padding-left: 10px;
    font-size: 20px;
    scroll-margin: 600px;
}
.comment-form form input:focus{
    outline: none;
}

.comment-form form label{
    color: rgb(217,52,109);
    
}
.comment-form form button{
    color: rgb(217,52,109);
    border: none;
    background-color: black;
    font-weight: 800;
    font-size: 15px;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s all;
}
.comment-form form button:hover{
    box-shadow: 0px 6px 10px 3px  rgb(217,52,109);
    font-size: 18px;

}
.black{
    height: 300px;
    background-color: black;
}
.message-shower {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(217,52,109); /* Adjust the border color */
    border-radius: 8px;
}

.profile-image img {
    cursor: pointer;
    width: 60px; /* Adjust the width of the profile image */
    height: 60px; /* Adjust the height of the profile image */
    border-radius: 50%; /* Make it a circle */
    margin-right: 10px;
    border: none; /* Add some space between the profile image and the content */
}

.user-name {
    cursor: pointer;
    font-weight: 800;
    margin-right: 15px;
    color: rgb(217,52,109);
}

.user-message {
    color: rgb(217,52,109);
    flex-grow: 1; /* Allow the user-message to grow and take available space */
}
.user-message p{
    font-size: 25px;
}
.form input {
    margin-top: 10px;
    padding: 8px;
    width: 70%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Add margin to the bottom */
    color: rgb(217,52,109); /* Text color */
}
.rply{
    cursor: pointer;
    margin: 10px 0px 10px 40px;
}
.rply p{
    color: rgb(217,52,109);
}
.message-shower-reply{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(217,52,109); /* Adjust the border color */
    border-radius: 8px;
}
.ratingContainer{
    position: absolute;
    top: 35%;
    left: 35%;
    min-height: 250px;
    width: 500px;
    z-index:1;
    background-color: white;
    transition: 7s all;
    opacity: 0;
}
.ratingContainer-active{
    position: absolute;
    top: 35%;
    left: 35%;
    min-height: 250px;
    width: 500px;
    z-index:99;
    background-color: white;
    /* transition: .5s all; */
    opacity: 1;
}
.rating-content{
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(217,52,109);
}
.rating-content button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: gold;
    font-weight: 800;
    background-color: black;
    margin-bottom: 20px;
}
.rating-content h3{
    padding-bottom: 5px;
}
.rating-content p{
    padding: 10px 0px 10px 0px;
}
.rating-content .stars{
    font-size: 40px;
    padding-right: 10px;
    cursor: pointer;
}
.rating-content .stars svg:hover {
    color: black;
  }
.rating-cross{
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 25px;
    color: black;
}
.progress{
    display: flex;
    font-size: 20px;
    padding-right: 100px;
}
.review{
    padding-right: 40px;
    opacity: 0.5;
    transition: .5s all;
    padding-top: 10px;
}

.progress p{
    padding-top: 15px;
}
.review:hover{
    opacity: 1;
    font-size: 21px;
}
.progress-bar{
    height: 60px;
}

.certificate{
    color: white;
}
.stars {
    font-size: 24px;
    color: black;
    transition: 0.5s ease;
  }
  
  .star-hovered {
    padding-left: 5px;
    color: gold; /* or any other color you desire for the hovered stars */
  }
  .hoveredProgressContainer::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust this value to control the distance between the container and the arrow */
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
  .hoveredProgressContainer{
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100px;
    top: 10.8rem;
    z-index: 99;
    border: none;
    border-radius: 20px;
    right: 30px;
  }
  .input{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .submitButton{
    padding-top: 5px;
    padding-left: 90px;
  }

.rating-content textarea{
    margin: 10px 0px 10px 0px;
    height: 50px;
    width: 350px;
    font-size: 20px;
    padding: 5px 0px 0px 10px;
    resize: vertical;
    overflow-x: hidden;
}
.userReview{
    display: flex;
    justify-content: center;
    align-items: center;
}